<p class="card-text ">
    {% if not jQuery.isEmptyObject(leave_data) %}
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Employee on Leave This Month</th>
                <th scope="col">Leave From</th>
                <th scope="col">To&nbsp&nbsp&nbsp</th>
            </tr>
        </thead>
        <tbody>
            {% for(const [key, value] of Object.entries(leave_data)) { %}
            <tr>
                <td class="text-centre"> {%= value["employee_name"] %} </td>
                <td class="text-centre"> {%= value["from"] %} </td>
                <td class="text-centre"> {%= value["to"] %} </td>
            </tr>
            {% } %}
        </tbody>
    </table>
    {% else %}
     No Data Available.
    {% endif %}
    <!--
    {% if not jQuery.isEmptyObject(absent_data) %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Absent Employee Today</th>
            </tr>
        </thead>
        <tbody>
            {% for(const [key, value] of Object.entries(absent_data)) { %}
            <tr>
                <td class="text-centre"> {%= value["employee_name"] %} </td>
            </tr>
            {% } %}
        </tbody>
    </table>
    {% else %}
     No Leaves this month.
    {% endif %}
-->
